{% extends 'base.html' %}

{% load static %}



{% block title %} About me{% endblock %}



{% block content %} 

<!--  ========================= About Area ==========================  -->

<section class="about-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="{% static 'img/about-us.png' %}" alt="About us" class="img-fluid" width="500" height="500">
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-12 about-title">
                <h2 class=" about-me">
                    About me
                </h2>
                <div class="paragraph py-4 w-75">
                    <p class="para">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error rerum iure obcaecati vel
                        possimus officia maiores perferendis ut! Quos, perspiciatis.
                    </p>

                    <img src="{% static 'img/mine/1.jpg' %}" alt="Me" width="450", height="350" class="img-fluid">
                    <p class="para">
                        It is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using 'Content here, content
                        here
                    </p>
                    <img src="{% static 'img/mine/4.jpg' %}" alt="Me" width="450", height="350" class="img-fluid">
                    <p class="para">
                        It is a long established fact that a reader will be distracted by the readable content
                        of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                        more-or-less normal distribution of letters, as opposed to using 'Content here, content
                        here
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  ========================= End About Area ==========================  -->


{% endblock %}