{% extends 'base.html' %}

{% load static %}



{% block title %} Main {% endblock %}



{% block content %} 

<!--  ======================= Start Banner Area =======================  -->
<section class="site-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 site-title">
                <h2 class="title-text"><strong>Shohjahon Hamrakulov</strong></h2>
                <h4 class="title-text mb-3">Software Engineer</h4>
                <div class="site-buttons">
                    <div class="d-flex flex-row flex-wrap">
                        <a href="{{info.github}}" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                        <a href="{{info.linkedin}}" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                        <a href="{{info.facebook}}" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="{{info.telegram}}" target="_blank"><i class="fab fa-telegram fa-2x"></i></a>
                    </div>
                    <div class="d-flex flex-row flex-wrap">
                        <p class="motto">{{info.content}}</p>
                    </div>
                    <div class="d-flex flex-row flex-wrap my-3">
                        
                        <a href="{% url 'blogs' %}" type="button" class="btn button primary-button mr-4">Read Blog</a>
                        <a href="{% url 'about' %}" type="button" class="btn button secondary-button">About Me</a>
                        <!-- <button type="button" class="btn button secondary-button">About Me</button> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 banner-image">

                <img src="{% static 'img/banner_img.png' %}" alt="banner-img" class="img-fluid">
            </div>
        </div>
    </div>

</section>



{% endblock %}